@model Frontend.Models.UsuarioModel

@{
    ViewData["Title"] = "CrearUsuario";
}

<h2>Registro</h2>

<h4>Ingrese informacion del usuario a registrar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CrearUsuario" asp-controller="Usuario" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <div class="form-group">
                <label asp-for="NomUsuario" class="control-label"></label>
                <input asp-for="NomUsuario" class="form-control" />
                <span asp-validation-for="NomUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="FechaCreacion" class="control-label"></label>
                <input asp-for="FechaCreacion" class="form-control" />
                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retornar a la lista</a>
</div>

